@media screen and (max-width: 479px) {
  body {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 5px lightgrey;
  }
  .one { order: -1; -webkit-order: 1;}
  .two { order: 2; -webkit-order: 2;}
  .three { order: 3; -webkit-order: 3;}
  .four { order: 4; -webkit-order: 4;}
}


@media screen and (min-width: 480px) {
  body {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 5px lightgrey;
  }
  .one { order: -1; -webkit-order: 2;}
  .two { order: 2; -webkit-order: 1;}
  .three { order: 3; -webkit-order: 3;}
  .four { order: 4; -webkit-order: 4;}
}

@media screen and (min-width: 720px) {
  body {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 5px lightgrey;
  }
  .one { order: -1; -webkit-order: 3;}
  .two { order: 2; -webkit-order: 4;}
  .three { order: 3; -webkit-order: 1;}
  .four { order: 4; -webkit-order: 2;}
}


@media screen and (min-width: 960px) {
  body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 5px lightgrey;
  }

  .one { order: -1; -webkit-order: 4;}
  .two { order: 2; -webkit-order: 1;}
  .three { order: 3; -webkit-order: 2;}
  .four { order: 4; -webkit-order: 3;}
}